/* YourAestheticStyles.css */

body {
  font-family: 'Arial', sans-serif;
  background-color: #f7f7f7; /* Light background color */
  color: #333; /* Default text color */
}

.container {
  max-width: 800px;
  margin: auto;
}

.navbar {
  background-color: #262261; /* Dark background color from your branding */
  color: #ffffff; /* Text color for contrast */
  padding: 10px;
  text-align: center;
}

.navbar a {
  color: #ffffff;
  text-decoration: none;
  margin: 0 15px;
}

.navbar a:hover {
  text-decoration: underline;
}

.my-3 {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

/* .cards-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
} */
/* 
.card {
  flex: 0 0 calc(33.333% - 20px);
  margin-bottom: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease-in-out;
  background-color: #ffffff;
  color: #333;
  border-radius: 8px;
  overflow: hidden;
} */

/* .card:hover {
  transform: scale(1.05);
}

.card.expanded {
  transform: scale(1.05);
}

.card-body {
  padding: 20px;
}

.card-title {
  font-size: 1.5rem;
  color: #262261; /* Color from the navbar background */
/* } */ 

.btn-secondary {
  background-color: #262261;
  color: #ffffff;
  border: none;
}

.btn-secondary:hover {
  background-color: #1c1c4f; /* A darker shade for hover effect */
}

.scrollable-content {
  max-height: 150px;
  overflow-y: auto;
}

.scrollable-content.expanded {
  max-height: none;
  overflow: auto;
}
